@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Limit Custom CSS code box size */
#txtCustomCss,
#txtLocalCustomCss {
	height: 400px !important;
	max-height: 400px !important;
	overflow-y: scroll !important;
	resize: vertical !important;
}

.customCssContainer textarea {
	height: auto !important;
}

.preload,
.css-fknfom,
.css-4yt2of,
.css-139vfv2 {
	background-color: #020006;
	background-image: none;
}

.emby-input,
.emby-textarea,
.collapseContent,
.formDialogFooter:not(.formDialogFooter-clear),
.formDialogHeader:not(.formDialogHeader-clear),
.paperList,
.visualCardBox {
	color: inherit;
	background: #020006;
}

.headerButton {
	filter: drop-shadow(1px 2px 0px rgba(2, 2, 2, 0.55));
}

/* Round menu hover background */
.navMenuOption,
.navMenuOption:hover,
.navMenuOption-selected {
	border-radius: 0em !important;
	width: 100%;
	margin-left: 0em !important;
}

.navMenuOptionText {
	line-height: 1.35em;
	white-space: nowrap;
	padding-right: 1.5em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	text-transform: uppercase;
}

.layout-desktop .textActionButton {
	white-space: wrap;
}

.layout-desktop #homeTab .textActionButton {
	white-space: nowrap;
}

.appfooter,
.playlistSectionButton {
	background: #020006;
}

/* Video Playback Progress Bar */
.mdl-slider-background-lower {
	background: #dc0000 !important;
}

.iconOsdProgressInner {
	background: #f00;
	border-radius: .25em;
	height: 100%;
}

/* Edge & Chrome browser & JMP */

.slider-browser-edge {
	margin-left: -.16em;
	margin-right: -.16em;
	width: 150%
}

.mdl-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background: #dc0000;
}

/*Red Selector*/
.navMenuOption:hover {
	background: #790101eb !important;
	color: white;
	padding-left: 15% !important;
	font-weight: 700 !important;
}

.mainDrawer,
.drawer-open {
	background-color: #000000f2;
}

.navMenuOptionIcon {
	margin-right: 1em;
	margin-left: -1em;
}

.mdl-slider::-moz-range-thumb {
	background: #dc0000 !important;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #d90000 #0000 !important;
}

.sliderMarker.watched {
	background-color: #dc0000f7;
}

/*Spinner*/
.mdl-spinner__layer-1,
.mdl-spinner__layer-2,
.mdl-spinner__layer-3,
.mdl-spinner__layer-4 {
	border-color: #d90000 !important;
}

.starIcon {
	margin-bottom: 0.2em;
}

.mediaInfoCriticRating {
	margin-bottom: 0.2em;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #fff #0000 !important;
}

/* Progress ring */
.progressring-spiner {
	border-color: #dc0000f7;
	border-width: .35em;
}

.progressring {
	margin: .4em;
}

.progressring-bg {
	display: none;
}

.cardBox:not(.visualCardBox) .cardPadder {
	background-color: transparent !important;
	box-shadow: 0 .0725em .29em 0 rgba(0, 0, 0, 0);
}

.pageTitleWithDefaultLogo {
	background-image: url(https://i.ibb.co/KxRqTPcD/logo.png);
}

/* Dashboard & button colours */

.dashboardDocument .mainAnimatedPage {
	font-family: "Noto Sans", sans-serif;
}

.css-17c09up.Mui-selected {
	background-color: #c20000bf;
	font-weight: 700 !important;
}

.css-17c09up.Mui-selected .css-37qkju {
	color: rgba(255, 255, 255, 1);
}

.css-37qkju {
	color: rgb(255, 255, 255);
}

.css-17c09up.Mui-selected:hover {
	background-color: #c20000bf
}

.css-17c09up:hover {
	text-decoration: none;
	background-color: rgba(28, 21, 21, 0.37);
}

.css-1ip8vbj.Mui-selected {
	background-color: #c20000bf;
}

.css-1ip8vbj.Mui-selected:hover {
	background-color: #c20000bf;
}

.css-1ip8vbj:hover {
	text-decoration: none;
	background-color: rgba(28, 21, 21, 0.37);
}

.css-77wcaa .MuiAlert-icon {
	color: rgb(246, 41, 41);
}

.css-1fv02xh {
	background-color: rgba(255, 255, 255, 1);
}

.css-1fv02xh:hover {
	background-color: rgba(255, 31, 31, 0.85);
}

.css-77wcaa {
	background-color: rgba(48, 6, 6, 0.26);
}

.css-195jjve {
	background-color: rgb(52, 41, 41);
}

.css-1pjtbja {
	color: #fff;
}

.css-1jmiiw3 .MuiDataGrid-row.Mui-selected {
	background-color: rgba(220, 0, 0, 0.2);
}

.css-1jmiiw3 .MuiDataGrid-row.Mui-selected:hover {
	background-color: rgba(220, 0, 0, 0.28);
}

#dashboardPage .listItemIcon.material-icons.notifications {
	background-color: #af0a0a !important;
}

.material-icons.favorite,
.material-icons.detailButton-icon.check.playstatebutton-icon-played,
.material-icons.detailButton-icon.check.playstatebutton-icon-unplayed,
.material-icons.detailButton-icon.theaters,
.material-icons.detailButton-icon.more_vert,
.material-icons.detailButton-icon.shuffle,
.material-icons.detailButton-icon.play_arrow,
.material-icons.detailButton-icon.explore,
.material-icons.detailButton-icon.replay {
	font-family: 'Material Icons';
	filter: drop-shadow(0px 0px 4px rgb(0, 0, 0));
}

progress::-moz-progress-bar {
	background-color: rgba(220, 0, 0, 0.9);
}

progress::-webkit-progress-value {
	background-color: rgba(220, 0, 0, 0.9);
}

.taskProgressInner {
	background: rgba(220, 0, 0, 0.9) !important;
}

#divRunningTasks span {
	color: rgba(255, 255, 255, 0.75) !important;
}

.listItemIcon:not(.listItemIcon-transparent) {
	background-color: #dc000099;
	border-radius: 100em;
	color: #fff;
	padding: .5em;
}

@media (hover: hover) and (pointer: fine) {
	.paper-icon-button-light:hover:not(:disabled) {
		color: rgba(255, 0, 0, 0.8);
		background-color: rgba(0, 164, 220, 0.2);
	}
}

@media (hover: hover) and (pointer: fine) {
	.paper-icon-button-light:hover:not(:disabled) {
		color: #e10000;
		background-color: rgba(0, 164, 220, 0.2);
	}
}

.paper-icon-button-light:active:not(:disabled) {
	color: #e10000;
	background-color: rgba(0, 164, 220, 0.2);
}

.paper-icon-button-light.show-focus:focus {
	color: #e10000;
}

.emby-checkbox:checked+span+.checkboxOutline,
.itemProgressBarForeground {
	background-color: #000;
}

.button-submit {
	background: #c20000bf;
	color: #fff;
}

.button-submit:focus {
	background: #fff;
	color: #000;
}

.inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
	color: #e10000;
}

.defaultCardBackground1 {
	background-color: #5c0000;
}

.defaultCardBackground2 {
	background-color: #e14444;
}

.defaultCardBackground3 {
	background-color: #db0000;
}

.defaultCardBackground4 {
	background-color: #5c1c1c;
}

.defaultCardBackground5 {
	background-color: #a80000;
}

.itemSelectionPanel {
	border: 1px solid #dc0000;
}

.selectionCommandsPanel {
	background: #dc0000;
	color: #fff;
}

.upNextDialog-countdownText {
	color: #dc0000;
}

.alphaPickerButton {
	color: rgba(255, 255, 255, 0.5);
	background-color: transparent;
	margin-bottom: 0.21em;
	height: 3vh;
	width: 3vw;
	transition: color 0.1s ease;
}

.alphaPickerButton:hover {
	color: rgba(255, 255, 255, 0.75);
}

.alphaPickerButton-selected {
	color: #fff;
}

.alphaPickerButton-tv:focus {
	background-color: #dc0000;
	color: #fff !important;
}

.progressring-spiner {
	border-color: #dc0000;
}

.button-flat:hover {
	color: #dc0000;
}

.button-link {
	color: #fff;
}

.emby-input:focus,
.emby-textarea:focus {
	border-color: white;
}

.emby-select-withcolor:focus {
	border-color: #dc0000 !important;
}

.emby-select-tv-withcolor:focus {
	background-color: #dc0000 !important;
	color: #fff !important;
}

.emby-checkbox:checked+span+.checkboxOutline {
	border-color: #8a1313;
}

.emby-checkbox:focus:not(:checked)+span+.checkboxOutline {
	border-color: #7c0909;
}

.itemProgressBarForeground-recording {
	background-color: #cb272a;
}

.countIndicator,
.fullSyncIndicator,
.mediaSourceIndicator,
.playedIndicator {
	background: #dc0000;
}

.navMenuOption-selected {
	background: #dc0000 !important;
	color: #fff;
}

.emby-button.show-focus:focus {
	background: #dc0000;
	color: #fff;
}

.emby-tab-button.show-focus:focus {
	color: #dc0000;
}

.emby-tab-button:hover {
	color: #dc0000;
}

.programCell-sports {
	background: #ab3939 !important;
}

.programCell-movie {
	background: #b13535 !important;
}

.programCell-kids {
	background: #e50303 !important;
}

.programCell-news {
	background: #a04343 !important;
}

.guide-channelHeaderCell:focus,
.programCell:focus {
	background-color: #dc0000 !important;
	color: #fff !important;
}

.guide-date-tab-button.emby-tab-button-active,
.guide-date-tab-button:focus {
	color: #dc0000;
}

.downloadbutton-icon-complete,
.downloadbutton-icon-on {
	color: #f44242;
}

.buttonActive {
	color: #dc0000 !important;
}

.card:focus .cardBox.visualCardBox,
.card:focus .cardBox:not(.visualCardBox) .cardScalable {
	border-color: #dc0000 !important;
}

.itemsContainer>.card>.cardBox {
	margin-left: 0.3em !important;
	margin-right: 1.2em;
	transition: color 1s;
}

.itemsContainer>.card>.cardBox:hover {
	color: red;
}

.cardText.cardTextCentered.cardText-secondary {
	transition: color 1.6s;
	font-weight: 700;
}

#indexPage .cardText.cardTextCentered.cardText-secondary {
	font-weight: 500;
}

.itemsContainer>.card>.cardBox:hover .cardText.cardTextCentered.cardText-secondary {
	color: red;
}

.metadataSidebarIcon {
	color: #dc0000;
}

.layout-tv .emby-button.detailFloatingButton:focus {
	background-color: #f2f2f2;
	color: #dc0000;
}

#dialogToc .bookplayerButtonIcon:hover {
	color: #dc0000;
}

#dialogToc .toc li a:active,
#dialogToc .toc li a:hover {
	color: #dc0000;
}

/*Make watched icon and count indicator dark and red*/
.innerCardFooter,
.countIndicator,
.playedIndicator {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(255, 0, 0, 0.8) 100%);
	box-shadow: none;
	color: #fff;
}

.ratingbutton-icon-withrating {
	color: #f00;
}

.downloadbutton-icon-complete,
.downloadbutton-icon-on {
	color: #4285f4;
}

.playstatebutton-icon-played {
	color: #f00;
}

.buttonActive {
	color: #00a4dc !important;
}

.layout-desktop #videoOsdPage .osdRatingsText {
	opacity: 0;
}

/* --- Homepage --- */

.pageTitle {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.3em;
}

.layout-desktop .pageTitle {
	margin-top: -0.1em !important;
}

/* Backdrop */
.layout-desktop .backdropImage {
	filter: blur(4px) saturate(0%) contrast(130%) brightness(22%);
	transition: filter 0.3s;
	background-position-x: 0%;
	background-repeat: no-repeat;
	background-size: 106.5%;
	bottom: 0;
	contain: layout style;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.backgroundContainer.withBackdrop {
	background: linear-gradient(0deg, rgb(0% 0% 0%) 0%, rgba(0, 0, 0, 0.97) 6.25%, rgba(0, 0, 0, 0.94) 12.5%, rgba(0, 0, 0, 0.91) 18.75%, rgba(0, 0, 0, 0.89) 25%, rgba(0, 0, 0, 0.87) 31.25%, rgba(0, 0, 0, 0.85) 37.5%, rgba(0, 0, 0, 0.83) 43.75%, rgba(0, 0, 0, 0.81) 50%, rgba(0, 0, 0, 0.8) 56.25%, rgba(0, 0, 0, 0.78) 62.5%, rgba(0, 0, 0, 0.77) 68.75%, rgba(0, 0, 0, 0.76) 75%, rgba(0, 0, 0, 0.76) 81.25%, rgba(0, 0, 0, 0.75) 87.5%, rgba(0, 0, 0, 0.75) 93.75%, rgba(0, 0, 0, 0.75) 100%);
	opacity: 0.5;
	filter: grayscale(100%);
}

.layout-tv .backgroundContainer.withBackdrop {
	opacity: 1;
}

.layout-tv .mainDetailButtons {
	width: 27em;
	justify-content: space-evenly;
	transform: translateX(-50%);
	left: 26em;
	position: relative;
	top: 1em;
}

.layout-mobile .backgroundContainer.withBackdrop {
	background: linear-gradient(0deg, rgb(0% 0% 0%) 0%, rgba(0, 0, 0, 0.97) 6.25%, rgba(0, 0, 0, 0.94) 12.5%, rgba(0, 0, 0, 0.91) 18.75%, rgba(0, 0, 0, 0.89) 25%, rgba(0, 0, 0, 0.87) 31.25%, rgba(0, 0, 0, 0.85) 37.5%, rgba(0, 0, 0, 0.83) 43.75%, rgba(0, 0, 0, 0.81) 50%, rgba(0, 0, 0, 0.8) 56.25%, rgba(0, 0, 0, 0.78) 62.5%, rgba(0, 0, 0, 0.77) 68.75%, rgba(0, 0, 0, 0.76) 75%, rgba(0, 0, 0, 0.76) 81.25%, rgba(0, 0, 0, 0.75) 87.5%, rgba(0, 0, 0, 0.75) 93.75%, rgba(0, 0, 0, 0.75) 100%);
	opacity: 1;
	filter: grayscale(100%);
}

/* Header*/
.skinHeader-withBackground {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 6.25%, rgba(0, 0, 0, 0.83) 12.5%, rgba(0, 0, 0, 0.82) 18.75%, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0.77) 31.25%, rgba(0, 0, 0, 0.73) 37.5%, rgba(0, 0, 0, 0.69) 43.75%, rgba(0, 0, 0, 0.64) 50%, rgba(0, 0, 0, 0.58) 56.25%, rgba(0, 0, 0, 0.52) 62.5%, rgba(0, 0, 0, 0.45) 68.75%, rgba(0, 0, 0, 0.37) 75%, rgba(0, 0, 0, 0.29) 81.25%, rgba(0, 0, 0, 0.2) 87.5%, rgba(0, 0, 0, 0.1) 93.75%, rgba(0, 0, 0, 0) 100%);
	position: absolute;
}

.skinHeader.semiTransparent {
	background: transparent;
}

.emby-tab-button {
	background: transparent;
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	font-family: inherit;
	font-size: inherit;
	font-weight: 600;
	height: auto;
	line-height: 1.25;
	margin: 0;
	min-width: 0;
	min-width: auto;
	outline: none;
	overflow: hidden;
	padding: 1.5em 1.5em;
	position: relative;
	vertical-align: middle;
	width: auto;
	text-transform: uppercase;
}

.emby-select-withcolor>option {
	color: inherit;
	background: #000 !important;
}

/* move homeTab sections left */
.layout-desktop #homeTab .sections.homeSectionsContainer {
	margin-left: -2.5em;
	max-width: 129em;
	margin-top: 2em;
}

/* move scrollbuttons right */
.layout-desktop #homeTab .emby-scrollbuttons.padded-right {
	right: -4em;
	top: -0.5em;
}

/* Hide My Media text on desktop */
.layout-desktop #homeTab .section0 .sectionTitle.sectionTitle-cards.padded-left {
	display: none;
}

/* My Media Card size */

.layout-desktop #indexPage .verticalSection.section0 .card.overflowBackdropCard.card-hoverable.card-withuserdata {
	width: 23.4em;
	padding-bottom: 1.5em;
}

/* My Media (small) */
#indexPage .raised {
	background: #000000d9;
	border: 2px solid white;
	border-radius: 0.5em;
}

.layout-desktop #indexPage .raised:hover {
	background: #a002029e;
	border: 2px solid white;
	border-radius: 0.5em;
	color: white;
}

.layout-desktop #indexPage .homeLibraryButton {
	min-width: 13.65em;
	margin-top: 0.5em !important;
	margin-right: 1.46em !important;
	margin-bottom: 0.5em !important;
	margin-left: 0.5em !important;
}

.layout-desktop .verticalSection.section0.emby-scroller-container .emby-scrollbuttons.padded-right {
	top: -3em !important;
}

.layout-desktop #indexPage .card.overflowBackdropCard.card-hoverable.card-withuserdata,
.card.overflowSquareCard.card-hoverable {
	width: 15.6em;
}

.layout-desktop #homeTab .homeLibraryText {
	font-family: inherit;
	font-size: 1.1em;
	font-weight: 700 !important;
	text-transform: uppercase;
	font-family: "Cantarell";
}

.layout-desktop #homeTab .raised.homeLibraryButton.emby-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-left: 0.25em !important;
	margin-right: 1.20666em !important;
	min-width: 14.15em !important;
}

.layout-desktop #homeTab .homeLibraryIcon {
	display: none;
}

/* Hide My Media text under cards */
.verticalSection.section0 .textActionButton {
	display: none;
}

/*Vertical card size on homeTab */
.layout-desktop #homeTab .card.overflowPortraitCard.card-hoverable.card-withuserdata {
	width: 15.6em;
}

/*Square card size on homeTab */
.overflowSquareCard {
	width: 12.05em;
}


.layout-desktop #homeTab .cardImageContainer.cardContent.itemAction.lazy.blurhashed.lazy-image-fadein-fast,
.layout-desktop #homeTab .cardImageContainer.coveredImage.cardContent.itemAction.lazy.non-blurhashable.lazy-image-fadein-fast,
.layout-desktop #moviesPage .cardImageContainer.coveredImage.cardContent.itemAction.lazy.blurhashed.lazy-image-fadein-fast,
.layout-desktop #moviesPage .cardOverlayContainer.itemAction,
.layout-desktop #tvRecommendedPage .cardImageContainer.coveredImage.cardContent.itemAction.lazy.blurhashed.lazy-image-fadein-fast,
.layout-desktop #favoritesTab .cardImageContainer.coveredImage.cardContent.itemAction.lazy.non-blurhashable.lazy-image-fadein-fast,
.layout-desktop #tvRecommendedPage .cardOverlayContainer.itemAction,
.layout-desktop #tvRecommendedPage .cardImageContainer.cardContent.itemAction.lazy.blurhashed.lazy-image-fadein-fast,
.layout-desktop #studiosTab .cardImageContainer.defaultCardBackground {
	border-radius: 0.5em;
}

/* Reduce space between My Media cards and Next Up */
.layout-desktop .sectionTitleContainer-cards {
	margin-top: -1.5em;
	margin-bottom: -0.3em;
}

/* Position chevron */
.sectionTitleTextButton>.material-icons {
	font-size: 1.5em;
	margin-bottom: .2em;
	margin-left: 0.2em;
}

/* Adjust alignment for the cards within the Continue Watching section */
.layout-desktop #homeTab .section1.verticalSection .itemsContainer .card.overflowBackdropCard {
	margin-top: 0em;
}

.layout-desktop #homeTab .sectionTitle.sectionTitle-cards {
	font-size: 1em;
	font-family: inherit;
	text-transform: uppercase;
	font-weight: 600 !important;
}

.layout-desktop [dir="ltr"] .padded-left {
	padding-left: max(env(safe-area-inset-left), 3.3%);
	padding-right: max(env(safe-area-inset-left), 3.3%);
}

/* Apply progress bar gradient */
.itemProgressBarForeground {
	background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
}

.layout-desktop .itemProgressBar {
	background: #000;
	height: 0.4em;
	position: relative;

}

.playbackProgress {
	color: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
	background-color: #000 !important;
	z-index: 1000;
}

/* hide Live TV text */
.sectionTitleContainer.sectionTitleContainer-cards.padded-left>.sectionTitle.sectionTitle-cards {
	display: none;
}

/* hide Live TV shortcuts */
.padded-top.padded-bottom.scrollSlider.focuscontainer-x {
	display: none;
}

/* --- Movies Page --- */

.layout-desktop #moviesTab .portraitCard {
	width: 15.6em;
	padding-right: 0em;
	padding-left: 0em;
}

.layout-desktop #seriesTab .portraitCard {
	width: 15.6em;
	padding-right: 0em;
	padding-left: 0em;
}

.layout-desktop #episodesTab .cardText.cardTextCentered.cardText-first {
	font-family: inherit;
	text-transform: uppercase;
	font-weight: 700 !important;
	margin-bottom: -0.2em;
}

/* Favorites */

.layout-desktop #favoritesTab .cardText.cardTextCentered.cardText-first {
	font-family: inherit;
	text-transform: uppercase;
	font-weight: 700 !important;
	margin-bottom: -0.2em;
}

.layout-desktop #favoritesTab .overflowPortraitCard {
	width: 15.6em;
	padding-right: 0em;
	padding-left: 0em;
}

.layout-desktop #favoritesTab .sections {
	padding-top: 1em;
}

.layout-desktop #favoritesTab .verticalSection.emby-scroller-container {
	margin-left: -2.5em;
	max-width: 129em;
}

.layout-desktop #favoritesTab .sectionTitle.sectionTitle-cards {
	font-size: 1em;
	font-family: inherit;
	text-transform: uppercase;
	font-weight: 500 !important;
	margin-left: 0.3em;
}

/* Genres */

.layout-desktop #genresTab .cardText.cardTextCentered.cardText-first {
	font-family: inherit;
	text-transform: uppercase;
	font-weight: 700 !important;
	margin-bottom: -0.2em;
}

.layout-desktop #genresTab .overflowPortraitCard {
	width: 15.6em;
	padding-right: 0em;
	padding-left: 0em;
}

.layout-desktop #items .verticalSection {
	margin-top: 3em;
	margin-bottom: -5em;
}

.layout-desktop #genresTab .verticalSection.emby-scroller-container {
	margin-left: -2.5em;
	max-width: 129em;
}

.layout-desktop #genresTab .sectionTitle.sectionTitle-cards {
	font-size: 1em;
	font-family: inherit;
	text-transform: uppercase;
	font-weight: 500 !important;
	margin-left: 0.3em;
}

/* Suggestions */

.layout-desktop #suggestionsTab .cardText.cardTextCentered.cardText-first {
	font-family: inherit;
	text-transform: uppercase;
	font-weight: 700 !important;
	margin-bottom: -0.2em;
}

.layout-desktop #resumableItems .backdropCard {
	width: 31.35em !important;
	padding-right: 0em;
	padding-left: 0em;
}

.layout-desktop #suggestionsTab .portraitCard {
	width: 15.6em;
	padding-right: 0em;
	padding-left: 0em;
}

.layout-desktop #suggestionsTab .verticalSection {
	margin-top: 3em;
	margin-bottom: -5em;
}

.layout-desktop #suggestionsTab .verticalSection.emby-scroller-container {
	margin-left: -2.5em;
	max-width: 129em;
}

.layout-desktop #suggestionsTab .sectionTitle.sectionTitle-cards {
	font-size: 1em;
	font-family: inherit;
	text-transform: uppercase;
	font-weight: 500 !important;
	margin-left: 0.3em;
}

/* Search */

.layout-desktop #searchPage .searchSuggestionsList.padded-left.padded-right {
	font-family: inherit;
	font-weight: 700 !important;
	text-transform: uppercase;
}

.layout-desktop #searchPage .cardText.cardTextCentered.cardText-first {
	font-family: inherit;
	text-transform: uppercase;
	font-weight: 700 !important;
	margin-bottom: -0.2em;
}

.layout-desktop #searchPage .overflowPortraitCard {
	width: 15.6em;
	padding-right: 0em;
	padding-left: 0em;
}

.layout-desktop #searchPage .verticalSection {
	margin-top: 3em;
	margin-bottom: -5em;
}

.layout-desktop #searchPage .sectionTitle.sectionTitle-cards {
	font-size: 1em;
	font-family: inherit;
	text-transform: uppercase;
	font-weight: 500 !important;
	margin-left: 0.3em;
}

.layout-desktop #searchPage .emby-scrollbuttons.padded-right {
	top: -1em;
}

.layout-desktop #moviesTab .cardText.cardTextCentered.cardText-first {
	font-family: inherit;
	text-transform: uppercase;
	font-weight: 700 !important;
	margin-bottom: -0.2em;
}

.layout-desktop #seriesTab .cardText.cardTextCentered.cardText-first {
	font-family: inherit;
	text-transform: uppercase;
	font-weight: 700 !important;
	margin-bottom: -0.2em;
}

.cardFooter {
	padding: .2em .2em .4em .2em;
	position: relative;
	margin-top: 0em;
}

.cardScalable .cardImageContainer {
	contain: strict;
	height: 100%;
	width: 100%;
	scroll-snap-align: start;
}

.layout-desktop #itemDetailPage .cardScalable .cardImageContainer {
	filter: none !important;
}

.visualCardBox {
	background-color: #0000005e;
}

.backdropCard {
	width: 16.3%;
}

.layout-desktop #homeTab .material-icons.cardOverlayButtonIcon.cardOverlayButtonIcon-hover.play_arrow {
	background-color: rgba(255, 0, 0, 0.75);
	font-size: 100%;
	height: 2.5em;
	width: 2.5em;

}

.layout-desktop #homeTab .cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light.emby-button {
	background: transparent;
}

.layout-desktop .padded-right-withalphapicker {
	padding-left: 1.5em;
	padding-right: 2em;
}

.layout-desktop .alphaPicker-fixed-right {
	right: max(env(safe-area-inset-right), 1.5vw) !important;
	top: 8em;
}

/* Top padding */
.pageWithAbsoluteTabs:not(.noSecondaryNavPage) {
	padding-top: 3.7em !important;
}

.layout-desktop .cardTextCentered {
	filter: drop-shadow(1px 2px 0px rgba(2, 2, 2, 0.55));
}

/* --- Skip Button --- */

.skip-button {}

.upNextContainer {}

#skipIntro.upNextContainer {}

#skipIntro {}

#skipIntro.show .emby-button {}

#btnSkipSegmentText {}

#skipIntro .emby-button:hover,
#skipIntro .emby-button:focus {}

#skipIntro .emby-button {}

/*Change Intro Skip Color*/
.skip-button {
	bottom: 7.52em;
	right: 7.5em;
	color: #fff;
	background: #000;
	border: 1px solid white;
	border-radius: 0;
	padding: 0.5em 1em;
	transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.skip-button:hover,
.skip-button:focus {
	background: #fff;
	color: #000;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* --- Mobile View --- */
.layout-mobile .itemBackdrop {
	display: block;
	-webkit-animation: backdrop-fadein .8s ease-in normal both;
	animation: backdrop-fadein .8s ease-in normal both;
	background-attachment: fixed;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh !important;
	position: fixed !important;
	top: 0;
	margin-top: 0rem;
	left: 0;
	width: 100%;
	z-index: -1;
	filter: blur(0px) saturate(0%) contrast(130%) brightness(20%);
}

@media (orientation: portrait) and (max-width: 799px) {
	.layout-mobile .homeLibraryButton {
		max-width: 42vw !important;
	}
}

@media (orientation: portrait) and (min-width: 800px) {
	.layout-mobile .homeLibraryButton {
		max-width: 21vw !important;
	}
}

@media (orientation: portrait) and (max-width: 799px) {
	.layout-mobile .card.overflowBackdropCard.card-withuserdata {
		max-width: 42vw !important;
	}
}

@media (orientation: portrait) and (min-width: 800px) {
	.layout-mobile .card.overflowBackdropCard.card-withuserdata {
		max-width: 21vw !important;
	}
}

.backgroundContainer {
	background-color: transparent;
}

.layout-mobile h1.itemName,
.layout-mobile h1.parentName {
	font-size: 1.6em;
	position: relative;
	display: flex;
	margin-left: 0.8em;
}

@media (max-width: 32em) {
	.layout-mobile .detailImageContainer .card {
		bottom: 0;
		left: 0;
		min-width: 34vw;
		max-width: 38vw;
	}
}

@media (orientation: landscape) {
	.layout-mobile .detailLogo {
		display: block;
		position: relative;
		top: 3em;
		height: 18em;
		margin-bottom: -8em;
		width: 62%;
		left: 28.5%;
	}
}

@media (orientation: portrait) {
	.layout-mobile .detailLogo {
		display: block;
		position: relative;
		top: 7em;
		height: 11em;
		margin-bottom: -7em;
		width: 49%;
		left: 44.5%;
	}
}


.layout-mobile #itemDetailPage .itemName.infoText.parentNameLast {
	display: none;
	font-family: inherit;
	font-weight: 700 !important;
	text-transform: uppercase;
	justify-content: center !important;
}

.layout-mobile .detailRibbon {
	background: transparent;
	padding-top: 14em;
}

.layout-mobile .pageWithAbsoluteTabs .pageTabContent {
	padding-bottom: 5em !important;
	padding-bottom: calc(env(safe-area-inset-bottom) + 5em) !important;
	margin-top: 2em;
}

.layout-mobile [dir="ltr"] .mainDetailButtons {
	margin-left: 0;
	padding-left: 35%;
	z-index: 10 !important;
	position: relative;
}

@media (min-width: 30em) and (orientation: portrait) {
	.layout-mobile [dir="ltr"] .mainDetailButtons {
		padding-left: 25%;
	}

	.layout-mobile .detailLogo {
		left: 35%;
	}
}

.layout-mobile #similarCollapsible .cardText.cardTextCentered.cardText-first {
	text-transform: uppercase;
}

.layout-mobile #homeTab .cardText.cardTextCentered.cardText-first {
	font-weight: 700;
	text-transform: uppercase;
}

.layout-mobile #homeTab .sectionTitle.sectionTitle-cards {
	text-transform: uppercase;
	font-size: 119%;
	margin-left: 0.3em;
}

.layout-mobile .subtitle {
	margin: .2em 0 .2em;
	margin-left: 0px;
	padding-left: 0;
	display: flex;
	margin-left: 1.2em;
}



@media (orientation: landscape) {
	.layout-mobile .detailRibbon {
		padding-top: 12em;
	}

	.layout-mobile .headerTabs.sectionTabs {
		margin-top: -2.1em;
	}

	.layout-mobile .itemName.parentNameLast {
		font-family: inherit;
		font-weight: 700 !important;
		font-size: 2em;
		text-transform: uppercase;
		margin-left: 3.84em;
	}

	.layout-mobile .mainDetailButtons.focuscontainer-x .button-flat {
		padding-left: 1.5em !important;
		padding-right: 1.5em !important;
	}

	.layout-mobile .itemName.parentNameLast {
		font-family: inherit;
		font-weight: 700 !important;
		font-size: 3em;
		text-transform: uppercase;
		margin-top: -2em;
		margin-left: 0.4em;
		width: 94%;
		text-align: left;
	}

	.layout-mobile #itemDetailPage .tagline {
		font-weight: 600;
		margin-bottom: -0.5em;
		font-size: 1.2em;
		margin-top: -0.1em;
	}

	.layout-mobile #itemDetailPage .detailButton {
		padding-right: 3em !important;
		padding-left: 1.5em !important;
	}

	.layout-mobile .detailPageSecondaryContainer.padded-bottom-page {
		padding-left: 21%;
	}

	.layout-mobile .detailImageContainer .card {
		position: fixed !important;
		top: 13%;
		left: 2%;
		height: 35vw;
		width: 23vw;
	}

	.layout-mobile .nameContainer {
		position: relative;
		display: flex;
	}

	.layout-mobile .detailPageWrapperContainer {
		padding-left: 3%;
	}

	.layout-mobile .itemMiscInfo.itemMiscInfo-primary {
		margin-left: -2em;
		justify-content: center;
	}

	.layout-mobile .itemMiscInfo {
		justify-content: left;
		text-align: center;
	}

	.layout-mobile .mainDetailButtons.focuscontainer-x {
		margin-left: 0em;
		justify-content: left;
	}

	.layout-mobile [dir="ltr"] .infoWrapper {
		padding-left: 21%;
	}

	.layout-mobile [dir="ltr"] .mainDetailButtons {
		margin-left: 0;
		padding-left: 21%;
		z-index: 10 !important;
		position: relative;
		justify-content: center;
	}
}


/* 768p */

@media only screen and (max-width: 1000px) {
	body {
		font-size: 73%;
	}

	.layout-desktop .detailPagePrimaryContent {
		font-size: 98.5%;
	}

	.layout-desktop #castCollapsible .cardTextCentered,
	.layout-desktop #castCollapsible .cardTextCentered>.textActionButton {
		font-size: 98.5%;
	}

	.layout-desktop #castCollapsible .emby-scrollbuttons-button.paper-icon-button-light {
		padding-left: 43.5em;
	}

	.sectionTabs {
		margin-top: -2em;
	}

	@media (min-height: 43.5em) {
		.layout-desktop .detail-clamp-text {
			opacity: 1;
		}
	}
}

/* 1440p */

@media (min-width: 1930px) {
	body {
		font-size: 133.3333%;
	}

	.layout-desktop .detailPagePrimaryContent {
		font-size: 98.5%;
	}

	.layout-desktop #castCollapsible .cardTextCentered,
	.layout-desktop #castCollapsible .cardTextCentered>.textActionButton {
		font-size: 98.5%;
	}

	.layout-desktop .mainDrawer.transition.touch-menu-la.drawer-open {
		width: 21em !important;
	}
}

/* 4k */

@media (min-width: 3200px) {
	body {
		font-size: 200%;
	}
}

.videoOsdBottom .osdControls [dir="ltr"] .paper-icon-button-light {
	position: fixed;
	top: 49vh;
	left: 30vw;
	font-size: 2vw;
	transition: font-size 0.1s ease-in-out;
	transform: translateX(-50%) translateY(-50%);
}

.videoOsdBottom .btnPreviousTrack:hover,
.videoOsdBottom .btnPreviousChapter:hover,
.videoOsdBottom .btnRewind:hover,
.videoOsdBottom .btnPause:hover,
.videoOsdBottom .btnFastForward:hover,
.videoOsdBottom .btnNextChapter:hover,
.videoOsdBottom .btnNextTrack:hover {
	font-size: 2.2vw !important;
}

@media (max-width: 33.75em) {
	.videoOsdBottom .paper-icon-button-light {
		font-size: 3vw !important;
	}

	.videoOsdBottom .btnPreviousTrack:hover,
	.videoOsdBottom .btnPreviousChapter:hover,
	.videoOsdBottom .btnRewind:hover,
	.videoOsdBottom .btnPause:hover,
	.videoOsdBottom .btnFastForward:hover,
	.videoOsdBottom .btnNextChapter:hover,
	.videoOsdBottom .btnNextTrack:hover {
		font-size: 3.2vw !important;
	}
}

.osdControls .btnPreviousTrack {
	left: 20% !important;
	filter: drop-shadow(-3px 0px 2px rgba(2, 2, 2, 0.8));
}

.osdControls .btnPreviousChapter {
	left: 30% !important;
	filter: drop-shadow(-3px 0px 2px rgba(2, 2, 2, 0.8));
}

.osdControls .btnRewind {
	left: 40% !important;
	filter: drop-shadow(-3px 0px 2px rgba(2, 2, 2, 0.8));
}

.osdControls .btnPause {
	left: 50% !important;
	filter: drop-shadow(0px 0px 3px rgba(2, 2, 2, 0.8));
}

.osdControls .btnFastForward {
	left: 60% !important;
	filter: drop-shadow(3px 0px 2px rgba(2, 2, 2, 0.8));
}

.osdControls .btnNextChapter {
	left: 70% !important;
	filter: drop-shadow(3px 0px 2px rgba(2, 2, 2, 0.8));
}

.osdControls .btnNextTrack {
	left: 80% !important;
	filter: drop-shadow(3px 0px 2px rgba(2, 2, 2, 0.8));
}

.osdTimeText {
	margin-left: 2.4em;
}

@media (hover: hover) and (pointer: fine) {
	.videoOsdBottom .paper-icon-button-light:hover:not(:disabled) {
		background-color: #0009 !important;
	}
}

.upNextContainer {
	background: #000;
	z-index: 50;
}

.layout-desktop #homeTab .emby-scroller {
	margin-top: 2em;
}

.layout-desktop #homeTab .emby-scroller {
	padding-left: max(env(safe-area-inset-left), 3%);
	padding-right: max(env(safe-area-inset-right), 3%);
}

.layout-desktop .sectionTitleContainer-cards,
.sectionTitle.sectionTitle-cards.padded-left {
	font-size: 1.25em;
	font-weight: 600 !important;
}

.layout-desktop .verticalSection.section1.emby-scroller-container .sectionTitle.sectionTitle-cards.padded-left {
	font-size: 1.25em !important;
	top: -0.7em;
}

.sectionTitleTextButton>.material-icons {
	display: none;
}

.layout-desktop .verticalSection.detailVerticalSection.moreFromSeasonSection.emby-scroller-container .emby-scroller {
	padding-right: max(env(safe-area-inset-right), 2.3%);
}

@media (max-height: 61em) {
	.layout-desktop .mainDetailButtons.focuscontainer-x {
		top: 2.5em;
		left: 41vw;
		width: 30em;

	}

	.layout-desktop #similarCollapsible .scrollSlider.focuscontainer-x.itemsContainer.similarContent.animatedScrollX {
		max-height: calc(100vh - 11.5em);
	}

	.alphaPicker-fixed {
		bottom: max(env(safe-area-inset-bottom), 0em);
	}
}

@media (max-width: 112em) {
	.layout-desktop .verticalSection.detailVerticalSection.emby-scroller-container {
		width: 67em;
	}

	.layout-desktop #castCollapsible .emby-scrollbuttons-button.paper-icon-button-light {
		padding-left: 34.5em;
		padding-right: 34.5em;
	}

	.layout-desktop #childrenContent .listItemBodyText.secondary.listItem-overview.listItemBodyText {
		max-width: 39em;
	}

	.sectionTabs {
		top: 5em !important;
		position: absolute;
	}
}

@media (max-width: 100em) {
	.sectionTabs {
		top: 1em !important;
	}
}

@media (max-width: 63em) {
	.sectionTabs {
		top: 2em !important;
	}
}

.skinHeader,
.tabs-viewmenubar.emby-tabs.focusable.scrollX {
	pointer-events: none;
}

.headerButton,
.emby-tab-button {
	pointer-events: all;
}

@media (min-width: 72em) and (max-width: 90em) {

	.layout-desktop body,
	.layout-desktop .detailsGroupItem.genresGroup,
	.layout-desktop .itemExternalLinks.focuscontainer-x,
	.layout-desktop .itemMiscInfo {
		font-size: 80% !important;
	}

	.layout-desktop #castCollapsible .cardText-first {
		font-size: 95%;
	}

	.layout-desktop .detailsGroupItem.genresGroup {
		font-size: 100% !important;
	}

	.layout-desktop .itemMiscInfo {
		font-size: 120% !important;
	}

	.layout-desktop .detailLogo {
		left: 25vw;
	}
}

@media (max-width: 72em) {

	.layout-desktop body,
	.layout-desktop .itemExternalLinks.focuscontainer-x {
		font-size: 60% !important;
	}

	.layout-desktop .detailsGroupItem.genresGroup {
		font-size: 80% !important;
		top: 4.5em !important;
	}

	.layout-desktop #castCollapsible .cardText-first {
		font-size: 95% !important;
	}

	.layout-desktop .itemMiscInfo {
		font-size: 120% !important;
	}

	.layout-desktop .detailLogo {
		left: 25vw;
	}
}

@media (max-width: 1000px) {

	.layout-desktop .detailsGroupItem.genresGroup,
	.layout-desktop .itemExternalLinks.focuscontainer-x {
		font-size: 120% !important;
	}
}

.mainDetailButtons.focuscontainer-x .button-flat {
	background: linear-gradient(0deg, rgb(99.608% 36.471% 36.471% / 0.38) 0%, rgb(99.655% 32.054% 32.054% / 0.382421875) 6.25%, rgb(99.7% 27.923% 27.923% / 0.3846875) 12.5%, rgb(99.741% 24.076% 24.076% / 0.386796875) 18.75%, rgb(99.779% 20.515% 20.515% / 0.38875000000000004) 25%, rgb(99.815% 17.238% 17.238% / 0.390546875) 31.25%, rgb(99.847% 14.246% 14.246% / 0.3921875) 37.5%, rgb(99.876% 11.54% 11.54% / 0.393671875) 43.75%, rgb(99.902% 9.118% 9.118% / 0.395) 50%, rgb(99.925% 6.981% 6.981% / 0.396171875) 56.25%, rgb(99.945% 5.129% 5.129% / 0.3971875) 62.5%, rgb(99.962% 3.562% 3.562% / 0.398046875) 68.75%, rgb(99.975% 2.279% 2.279% / 0.39875000000000005) 75%, rgb(99.986% 1.282% 1.282% / 0.399296875) 81.25%, rgb(99.994% 0.57% 0.57% / 0.39968750000000003) 87.5%, rgb(99.998% 0.142% 0.142% / 0.39992187500000004) 93.75%, rgb(100% 0% 0% / 0.4) 100%);
	height: 2em;
	color: #fff;
	width: 2.5em;
	font-size: 1.15em;
}

.noBackdropTransparency .detailPageSecondaryContainer {
	background-color: transparent;
}
